{% extends 'babysitter/base.html' %}

{% block app_content %}



    <div class="row">


        <div class="col-md-12">
            <div class="c-card u-ph-zero u-pb-zero">
                <div id="mapMapBox" style="width:100%; height: 550px"></div>
            </div>
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3Rvcm1qYW51YXJ5IiwiYSI6ImNqbnMwZnc5ZzBjdGUza21kYXJmNDhybTAifQ.4Dw9Cn1YFH17xmCiSjz8yA';
        var map = new mapboxgl.Map({
            container: 'mapMapBox',
            style: 'mapbox://styles/mapbox/dark-v9',
            center: [39.2801, -6.8153],
            zoom: 6
        });

        var geojson = {
            type: 'FeatureCollection',
            features: [{
                type: 'Feature',
                geometry: {
                    type: 'Point',
                    coordinates: [ {{ user_lng }}, {{ user_lat }}]
                },
                properties: {
                    title: '{{ current_user.username }}',
                    description: '{{ current_user.phone }}'
                }
            }]
        };

        geojson.features.forEach(function (marker) {
            var el = document.createElement('div');
            el.className = 'baby_sitter';

            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .addTo(map);
        });


    </script>

{% endblock %}