{% extends 'babysitter/base.html' %}

{% block app_content %}


    <div class="row">
        <div class="col-md-5">
            <div class="c-alert c-alert--info u-mb-medium">
                <span class="c-alert__icon">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                       stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                       class="feather feather-check"><polyline points="20 6 9 17 4 12"></polyline></svg>
                </span>

                <div class="c-alert__content">
                    <h4 class="c-alert__title">Pending Request</h4>
                    <p></p>
                </div>
            </div><!-- // .c-alert -->

            <nav class="c-tabs">
                <div class="c-tabs__list nav nav-tabs" id="myTab" role="tablist">
                    <a class="c-tabs__link active" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab"
                       aria-controls="nav-home" aria-selected="true">Activity</a>
                </div>
                <div class="c-tabs__content tab-content" id="nav-tabContent">
                </div>
            </nav>
        </div>

        <div class="col-md-7">
            <div id="map" style="width:100%; height: 550px;"></div>
        </div>
    </div>
    <script>
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3Rvcm1qYW51YXJ5IiwiYSI6ImNqbnMwZnc5ZzBjdGUza21kYXJmNDhybTAifQ.4Dw9Cn1YFH17xmCiSjz8yA';
        var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [{{ user_lat }}, {{ user_lng }}],
            zoom: 12,
            bearing: -5,
            pitch: 45,
            interactive: true
        });
        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl());
    </script>

{% endblock %}