{% extends 'main/map_base.html' %}


{% block app_content %}
    <div id="mapMapBox" style="width:100%; height: 550px"></div>

    <div style="margin-top: 10px" class="container-fluid">
    <a href="{{ url_for('main.selection') }}" style="border-radius: 100%; height: 50px; width: 50px; padding: 14px"
       class="c-btn c-btn--success  u-mb-xsmall">
        <i class="c-sidebar__icon feather icon-home"></i>
    </a>

    <a href="{{ url_for('main.selection') }}" style="border-radius: 100%; height: 50px; width: 50px; padding: 14px"
       class="c-btn c-btn--success  u-mb-xsmall">
        <i class="c-sidebar__icon feather icon-home"></i>
    </a>
    </div>
{% endblock %}

{% block script %}
    <script>
    //mapbox://styles/mapbox/dark-v10
    //mapbox://styles/mapbox/streets-v11
        mapboxgl.accessToken = 'pk.eyJ1Ijoic3Rvcm1qYW51YXJ5IiwiYSI6ImNqbnMwZnc5ZzBjdGUza21kYXJmNDhybTAifQ.4Dw9Cn1YFH17xmCiSjz8yA';
        var map = new mapboxgl.Map({
            container: 'mapMapBox',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [39.2167, -6.8167],
            zoom: 12,
            bearing: -5,
            pitch: 45,
            interactive: true

        });

        map.addControl(new mapboxgl.FullscreenControl());
        map.addControl(new mapboxgl.NavigationControl());


        var json_data = '{{ data }}';
        var root_url = '127.0.0.1:5000'

        var map_data = json_data.replace(/&#39;/g, '"');
        map_data = map_data.replace(/[\u0000-\u0019]+/g, "");
        data_json = JSON.parse(map_data);
        console.log(data_json)


        var geojson = {
            type: 'FeatureCollection',
            features: [
                data_json
            ]
        };

        geojson.features.forEach(function (marker) {
            var el = document.createElement('div');
            el.className = 'marker';
            console.log(marker.properties.profile)

            new mapboxgl.Marker(el)
                .setLngLat(marker.geometry.coordinates)
                .setPopup(new mapboxgl.Popup({offset: 25}) // add popups
                    .setHTML('<div class="">' +
                        '<img class="c-avatar__img align-center" size="60px" src="' + marker.properties.profile + '">' + '<h6> Name: ' + marker.properties.title + '</h6>' +
                        '<p> Phone: ' + marker.properties.phone + '</p>' + '' +
                        '<div>' +
                        '<a href="' + window.location.origin + '/select-baby-sitter/' + marker.properties.token + '"' + ' class="c-btn c-btn--success u-mb-xsmall">' + 'Request' + '</a>'))
                .addTo(map);

        });


    </script>

{% endblock %}