<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% if title %} {{ title }} | Application
        {% else %} Application {% endif %}
    </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/neat.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
</head>
<body>


<div class="o-page">

    <div class="o-page__sidebar js-page-sidebar">
        <aside class="c-sidebar">
            <div class="c-sidebar__brand">
                <img style="height: 50px; width: 50px" src="{{ url_for('static', filename="img/mother.png") }}"
                     alt="Neat">
            </div>

            <!-- Scrollable -->
            <div class="c-sidebar__body">
                <span class="c-sidebar__title">General</span>
                <ul class="c-sidebar__list">
                    <li>
                        <a class="c-sidebar__link" href="{{ url_for('administrator.applications') }}">
                            <i class="c-sidebar__icon feather icon-users"></i>Applicants/BabySitters
                        </a>
                    </li>
                    <li>
                        <a class="c-sidebar__link" href="{{ url_for('administrator.applications') }}">
                            <i class="c-sidebar__icon feather icon-users"></i>Parents
                        </a>
                    </li>
                    <li>
                        <a class="c-sidebar__link" href="">
                            <i class="c-sidebar__icon feather icon-file-text"></i>Payments
                        </a>
                    </li>


                </ul>
            </div>


            <a class="c-sidebar__footer" href="#">
                Logout <i class="c-sidebar__footer-icon feather icon-power"></i>
            </a>
        </aside>
    </div>
    <main class="o-page__content" style="">

        <header class="c-navbar u-mb-medium">
            {% if current_user.is_authenticated %}
                <button class="c-sidebar-toggle js-sidebar-toggle">
                    <i class="feather icon-align-left"></i>
                </button>

                <h2 class="c-navbar__title">Admin Dashboard</h2>
            {% endif %}

        </header>

        <div class="container">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <div class="c-alert c-alert--info alert u-mb-medium">
            <span class="c-alert__icon">
              <i class="feather icon-info"></i>
            </span>

                            <div class="c-alert__content">
                                <h4 class="c-alert__title">Heads Up!</h4>
                                <p>{{ _(message) }}</p>
                            </div>

                            <button class="c-close" data-dismiss="alert" type="button">×</button>
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}

            {% block app_content %}
            {% endblock %}

            <div class="row">
                <div class="col-12">
                    <footer class="c-footer">
                        <p>© 2019 Ruthbrenda Exaud, Inc</p>
                        <span class="c-footer__divider">|</span>
                        <nav>
                            <a class="c-footer__link" href="#">Terms</a>
                            <a class="c-footer__link" href="#">Privacy</a>
                            <a class="c-footer__link" href="#">FAQ</a>
                            <a class="c-footer__link" href="#">Help</a>
                        </nav>
                    </footer>
                </div>
            </div>
        </div>
    </main>
</div>

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{ moment.include_moment() }}
    <script type="application/javascript" src="{{ url_for('static', filename='js/neat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
</body>
</html>