{% extends 'application/base.html' %}

{% block app_content %}
    <div class="container">
        <div class="row">
            <div class="col-md-7">
                {% if applicant.applicant_ids.count() > 0 %}
                    {% for applicant_id in applicant.applicant_ids %}
                        <div class="c-alert c-alert--info alert u-mb-medium">
            <span class="c-alert__icon">
              <i class="feather icon-info"></i>
            </span>

                            <div class="c-alert__content">
                                <h4 class="c-alert__title">User ID</h4>
                                <div>
                                    <img src="{{ applicant_id.url }}">
                                </div>
                            </div>


                        </div>
                    {% endfor %}
                {% else %}
                    <div class="c-alert c-alert--info alert u-mb-medium">
            <span class="c-alert__icon">
              <i class="feather icon-info"></i>
            </span>

                        <div class="c-alert__content">
                            <h4 class="c-alert__title">Heads Up! some info here</h4>
                            <p>There is No Image associated to you</p>
                        </div>

                        <button class="c-close" data-dismiss="alert" type="button">×</button>
                    </div>
                {% endif %}
            </div>

            <div class="col-md-5">
                <div class="c-card">
                    <div class="u-text-center">
                        <h5>{{ applicant.full_name }}</h5>

                    </div>

                    <span class="c-divider u-mv-small"></span>

                    <span class="c-text--subtitle">Email Address</span>
                    <p class="u-mb-small u-text-large">{{ applicant.email }}</p>

                    <span class="c-text--subtitle">Phone NUMBER</span>
                    <p class="u-mb-small u-text-large">{{ applicant.phone }}</p>

                    <a class="c-btn--success c-btn rounded-0" href="{{ url_for('application.edit_profile', email=applicant.email) }}">Update Details</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}