<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>
        {% if title %} {{ title }} | Application
        {% else %} Application {% endif %}
    </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">

    <!-- Favicon -->
    <link rel="apple-touch-icon" href="apple-touch-icon.png">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/neat.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.css' rel='stylesheet'/>
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.53.1/mapbox-gl.js'></script>
</head>
<body>


 <div class="o-page">

      <main class="o-page__content" style="position:absolute; left: 0px !important;">
        <header class="c-navbar u-mb-medium">
          <button class="c-sidebar-toggle js-sidebar-toggle">
            <i class="feather icon-align-left"></i>
          </button>

          <h2 class="c-navbar__title">Apply
              <img style="height: 50px; width: 50px" src="{{ url_for('static', filename="img/mother.png") }}" alt="Neat">
          </h2>
        </header>

        <div class="container">
            {% block app_content %}
            {% endblock %}

          <div class="row">
            <div class="col-12">
              <footer class="c-footer">
                <p>© 2019 Ruthbrenda Exaud, Inc</p>
                <span class="c-footer__divider">|</span>
                <nav>
                  <a class="c-footer__link" href="#">Terms</a>
                  <a class="c-footer__link" href="#">Privacy</a>
                  <a class="c-footer__link" href="#">FAQ</a>
                  <a class="c-footer__link" href="#">Help</a>
                </nav>
              </footer>
            </div>
          </div>
        </div>
      </main>
    </div>

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    {{ moment.include_moment() }}
    <script type="application/javascript" src="{{ url_for('static', filename='js/neat.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>

{% endblock %}
</body>
</html>