{% extends 'application/base.html' %}

{% block app_content %}

    <div class="col-md-6 col-xl-4 u-ml-auto">
            <div class="c-card is-animated">
              <span class="c-icon c-icon--large u-mb-small">
                <i class="feather icon-home"></i>
              </span>

              <h5 class="u-mb-xsmall">{{ _('OK! Email Confirmed') }}</h5>
              <p class="u-mb-medium">{{ _('You can now create a temporally account, before complete approval') }}</p>
              <a class="c-btn c-btn--info has-arrow" href="{{ url_for('application.get_password') }}">
                {{ _('Get Login PIN') }}<i class="feather icon-chevron-right"></i>
              </a>
            </div>
          </div>


        </div>

{% endblock %}