{% extends 'application/base.html' %}

{% block app_content %}

    <div class="row u-justify-center">
          <div class="col-lg-6 u-text-center">
            <h2 class="u-mb-small">{{ _('Shall everything go well') }}</h2>
            <p class="u-text-large u-mb-large">We have Sent you a confirmation Email, you shall receive a temporary Password</p>
          </div>
        </div>

    <div class="row">
          <div class="col-md-6 col-xl-4 u-ml-auto">
            <div class="c-card is-animated">
              <span class="c-icon c-icon--large u-mb-small">
                <i class="feather icon-home"></i>
              </span>

              <h5 class="u-mb-xsmall">Get Temporary Login PIN</h5>
              <p class="u-mb-medium">It may be something good to have a temporal PIN, in case </p>
              <a class="c-btn c-btn--info has-arrow" href="{{ url_for('application.get_password') }}">
                Explore<i class="feather icon-chevron-right"></i>
              </a>
            </div>
          </div>

          <div class="col-md-6 col-xl-4 u-mr-auto">
            <div class="c-card is-animated">
              <span class="c-icon c-icon--large u-mb-small">
                <i class="feather icon-anchor"></i>
              </span>

              <h5 class="u-mb-xsmall">Correct your application Details</h5>
              <p class="u-mb-medium">We are not perfect, sometimes we must correct our flaws.</p>
              <a class="c-btn c-btn--info has-arrow" href="">Start<i class="feather icon-chevron-right"></i></a>
            </div>
          </div>
        </div>

{% endblock %}